
/*350px*/
@media (max-width: 1300px) {
    nav ul{
        background-color: #000;
        border-radius: 20px;
    }

    .revers{
        flex-direction: row-reverse;
    }
    
   .book .co_2 form{
    padding-inline: 10px;
   } 

   
}

/*450px*/
@media (min-width: 371px) and (max-width: 1300px) {
    
}

/*650px*/
@media (min-width: 577px) and (max-width: 1300px) {}

/*850px*/
@media (min-width: 769px) and (max-width: 1300px) {
}

/*1050px*/
@media (min-width: 992px) and (max-width: 1300px) {
    nav ul{
        background-color: transparent;
    }
    .revers{
        flex-direction: row;
    }
}

/*1300px*/
@media (min-width: 1181px) and (max-width: 1300px) {}